<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link {{#if NavActiveCad}} active {{/if}}" aria-current="page"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cadastrar</font></font></a></li>
        <li class="nav-item"><a href="/users" class="nav-link  {{#if NavActiveUsers}} active {{/if}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Listar Usuários</font></font></a></li>
      </ul>
    </header>