<div class="bg-body-tertiary p-5 rounded mt-3">
    <h1>Cadastrar</h1>
    <form action="/cad" method="post">
        <div class="row mt-4">
            <div class="col-md-5 mb-3">
                <label for="nome" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu Nome" required>
            </div>
            <div class="col-md-5 mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu Email" required>
                
            </div>
            <div class="col-md-2">
                <button class="mt-4 p-3 w-100 btn btn-success">Cadastrar</button>
                
            </div>
        </div>
    </form>
    <br>
    {{>_msg}}
    
</div>